@{
    ViewData["Title"] = "Home Page";
}
@model List<Pizza>

<body onload="cerca()">
    <section class="text-center  " id="pizza-library">
        <div class="container">
            <input class="js-search" type="text" placeholder="Cerca qui la tua pizza" />
            <div class="row">
            </div>
        </div>
    </section>
</body>

<script type="text/javascript">
    const cardPizza = document.querySelector(".row");
    const pizzaSearch = document.querySelector(".js-search")
    let menu;

    pizzaSearch.addEventListener("keyup", cerca)

    function cerca() {
        axios.get("api/home/get", {
            params: {
                name: pizzaSearch.value
            }
        })
            .then(function (response) {
                console.log(response);
                menu = response.data;
                if (menu.length) {
                    cardPizza.innerHTML = ""
                    menu.forEach(pizza => {
                        let ingredienti = '';
                        for (let i = 0; i < pizza.ingredients.length; i++) {
                            console.log(pizza.ingredients[i].title)
                            ingredienti += `<li>${pizza.ingredients[i].title}</li>`
                        }

                        cardPizza.innerHTML +=
                            `<div class="col-4 py-2" >
                               <a class="text-decoration-none text-danger card" >
                                <div class="card bg-dark bg-gradient text-white border-2  rounded-lg" >
                                    <img class="img-fluid" src = "${pizza.imgPath}" alt = "${pizza.name}" />
                                    <h3 class="py-1 text-danger" > ${pizza.name}</h3>
                                    <span class="py-1" > ${pizza.category.name}</span>
                                    <span class="py-1" > Price : ${pizza.price}$ </span>
                                    <p class="px-2" > Descrizione: <small>${pizza.description}</small></p >
                                     <ul>
                                        ${ingredienti}
                                    </ul>
                                    </div>
                                </a>
                                </div>`
                    }
                    )
                } else {
                    cardPizza.innerHTML = "<h1>listino delle pizze e' attualmente vuoto</h1>"
                }
            })
            .catch(function (error) {
                console.log(error);
            })
    }
</script>