@{
    ViewData["Title"] = "Home Page";
}
@model List<Pizza>

<body onload="cerca()">
    <div class="d-flex justify-content-center py-4">
    <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Contattaci!!
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Contattaci</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="sendMessage(event)">
                        <div class="mb-3">
                            <label for="contact-email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="form-email" required />
                        </div> 
                        <div class="mb-3">
                            <label for="contact-name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="form-name" required />
                        </div>
                         <div class="mb-3">
                            <label for="contact-title" class="form-label">Titolo</label>
                            <input type="text" class="form-control" id="form-title" required />
                        </div>
                         <div class="mb-3">
                            <label for="contact-text" class="form-label">Testo</label>
                            <textarea rows="7"  class="form-control" id="form-text" required ></textarea>
                        </div>
                        <button type="submit"  class="btn btn-primary" data-bs-dismiss="modal">Invia</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="text-center  " id="pizza-library">
        <div class="container">
            <input class="js-search" type="text" placeholder="Cerca qui la tua pizza" />
            <div class="row">
            </div>
        </div>
    </section>
</body>

<script type="text/javascript">
    const cardPizza = document.querySelector(".row");
    const pizzaSearch = document.querySelector(".js-search")
    let menu;
    
    //axios call for pizzas
    pizzaSearch.addEventListener("keyup", cerca)

    function cerca() {
        axios.get("/api/home/get", {
            params: {
                name: pizzaSearch.value
            }
        })
            .then(function (response) {
                console.log(response);
                menu = response.data;
                if (menu.length) {
                    cardPizza.innerHTML = ""
                    menu.forEach(pizza => {
                        let ingredienti = '';
                        for (let i = 0; i < pizza.ingredients.length; i++) {
                            console.log(pizza.ingredients[i].title)
                            ingredienti += `<li>${pizza.ingredients[i].title}</li>`
                        }

                        cardPizza.innerHTML +=
                            `<div class="col-4 py-2" >
                               <a class="text-decoration-none text-danger card" href="Home/Show/${pizza.pizzaId}" >
                                <div class="card bg-dark bg-gradient text-white border-2  rounded-lg" >
                                    <img class="img-fluid" src = "${pizza.imgPath}" alt = "${pizza.name}" />
                                    <h3 class="py-1 text-danger" > ${pizza.name}</h3>
                                    <span class="py-1" > ${pizza.category.name}</span>
                                    <span class="py-1" > Price : ${pizza.price}$ </span>
                                    <p class="px-2" > Descrizione: <small>${pizza.description}</small></p >
                                     <ul>
                                        ${ingredienti}
                                    </ul>
                                    </div>
                                </a>
                                <a href="home/update/${pizza.pizzaId}" class="btn btn-primary">Modifica Pizza</a>
                                <button onclick="deletePizza(${pizza.pizzaId})" class="btn btn-danger">Elimina Pizza</button>
                                </div>`
                    }
                    )
                } else {
                    cardPizza.innerHTML = "<h1>listino delle pizze e' attualmente vuoto</h1>"
                }
            })
            .catch(function (error) {
                console.log(error);
            })
    }
    
    function sendMessage(e){
       e.preventDefault()

        axios.post("api/message/send",{
            email : document.querySelector("#form-email").value, 
            name : document.querySelector("#form-name").value ,
            title : document.querySelector("#form-title").value,
            text : document.querySelector("#form-text").value
        })
        .then( res => { console.log(res)})
        .catch( err => {console.log(err)})
    }
    //axios delete to delete a message
    function deletePizza(i){
        axios.delete("/api/home/delete/" + i)
            .then( res => console.log(res.data))
            .catch( err => console.log(err))
    }

</script>